.card {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    width: 285px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 285px;
    margin: 0;
    padding: 0;
  }
}

.card:first-child {
  z-index: 2;
}

.card:last-child {
  z-index: 1;
}

.card__photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: block;
  width: 270px;
  height: 270px;

  @media (min-width: @tablet-width) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 285px;
    height: 285px;
  }
}

.card__container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 23px;
  padding-bottom: 16px;
  position: relative;
  display: block;
  width: 270px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: @white;

  @media (min-width: @tablet-width) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 29px;
    padding-bottom: 26px;
    width: 285px;
    padding-left: 27px;
    padding-right: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 29px;
    padding-bottom: 27px;
    width: 285px;
    padding-left: 27px;
  }
}

.card__name {
  font-weight: bold;
  color: @dark-slate-blue;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  display: block;

  margin-bottom: 16px;
  padding: 0 37px;

  &:hover,
  &:focus {
    color: @dark-slate-blue-opacity70;
  }

  &:active {
    color: @dark-slate-blue-opacity30;
  }

  &::before {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: @salmon;
    content: "";
    position: absolute;
    left: 53px;
    top: 33px;
  }

  &--online::before {
    background-color: @green-apple;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 24px;

    &::before {
      width: 7px;
      height: 7px;
      border-radius: 3.5px;
      left: 46px;
      top: 39px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 19px;
  }
}

.card__interests {
  margin: 0;
  margin-bottom: 12px;
  font-size: 15px;
  color: @greyish-brown;
  padding: 0 25px;
  line-height: 18px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.card__flag-list {
  position: absolute;
  top: -11px;
  left: 60px;
  margin: 0;
  padding: 0;

  &--twoflags {
    left: 90px;
  }

  @media (min-width: @tablet-width) {
    left: 70px;

    &--twoflags {
      left: 100px;
    }
  }
}

.card__transport {
  margin: 0 42px;
}

.card__transport-title {
  display: none;
}

.card__level {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    top: 23px;
    left: 23px;
  }

  @media (min-width: @desktop-width) {
    top: 25px;
    left: 23px;
  }
}
