.main-navigation {
  padding: 8px 0;
  width: 100%;

  &--index {
    padding: 16px 0;
  }

  &--open {
    position: absolute;
    top: 0;
    z-index: 5;
    display: block;
    background-color: @white;
  }

  &--cross .main-navigation__toggler::before,
  &--cross .main-navigation__toggler::after {
    display: none;
  }

  &--fixed {
    position: fixed;
    background-color: @white;
  }

  &--fixed .main-navigation__toggler::before,
  &--fixed .main-navigation__toggler::after {
    background-color: @dark-blue-grey;
  }
}

.main-navigation--open .main-navigation__logo,
.main-navigation--fixed .main-navigation__logo {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/logo-mobile-b.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.main-navigation__toggler {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 1.5px;
    background-color: @white;
  }

  &::before {
    top: 14px;
    left: 17px;
  }

  &::after {
    top: 22px;
    left: 17px;
  }
}
  .main-navigation--open .main-navigation__toggler {
  &::before,
  &::after {
    height: 2px;
    border-radius: 0;
    background-color: @pinkish-grey;
  }

  &::before {
    transform: rotate(45deg);
    top: 19px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 19px;
  }
}

.main-navigation__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-navigation__site-list {
  display: none;
  margin: 0;
  padding-left: 0;
  padding-top: 60px;
  padding-bottom: 50px;
}

.main-navigation--open .main-navigation__site-list {
  display: block;
}

.main-navigation__wrapper {
  display: none;
  padding-bottom: 10px;
}

.main-navigation--open .main-navigation__wrapper {
  display: block;
}

.main-navigation__login {
  display: none;
  margin-top: 0;
  margin-bottom: 51px;
}

.main-navigation--open .main-navigation__login {
  display: block;
}

.main-navigation__socials {
  margin-left: 50%;
  transform: translateX(-50%);
}

.main-navigation--fixed .main-navigation__site-link {
  color: @dark-blue-grey;
}
