.plans {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 27px;
  padding-bottom: 60px;
  background-color: @pale-grey-dark;
}

.plans__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 25px;
  position: relative;
  z-index: 1;
}

.plans__title {
  font-size: 24px;
  font-weight: bold;
  color: @dark-slate-blue;
  margin: 0;
  line-height: 24px;
  margin-bottom: 31px;
}

.plans__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.plans__item {
  list-style-type: none;
}

.plans__item:not(:last-child) {
  margin-bottom: 10px;
}
