.promo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: @white;
  background-image: linear-gradient(to top, @dark-grey 41%, rgba(255, 255, 255, 0) 41%), url("../img/traveller-illustration-mobile-1.png");
  background-position: 0 0, 79px 150px;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, 192px 256px;
}

.promo__container {
  position: relative;
  padding-top: 20px;
}

.promo__main {
  margin-bottom: 30px;
}

.promo__slogan {
  font-size: 36px;
  font-weight: bold;
  color: @white;
  margin: 0;
  margin-bottom: 245px;
  padding: 0 15px;
  line-height: 40px;
  text-align: center;
}

.promo__user {
  list-style: none;
  margin-bottom: 24px;
}

.promo__text {
  margin: 0;
  padding: 0 25px;
}

.promo__quote {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 65px;
}

.promo__author {
  margin: 0;
  font-weight: bold;
}

.promo__position {
  margin: 0;
  padding-right: 65px;
  font-weight: bold;
}

.promo__steps {
  margin-bottom: -240px;
}
