.show {
  margin-top: 17px;
  margin-bottom: 61px;
}

.show__button {
  position: relative;
  display: block;
  margin: 0 60px;
  padding-left: 33px;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  color: @dark-slate-blue;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    top: 14px;
    left: 0;
    background-color: @dark-slate-blue;
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    color: @dark-slate-blue-opacity60;
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: @dark-slate-blue-opacity60;
  }

  &:active {
    color: @dark-slate-blue-opacity30;
  }

  &:active::before,
  &:active::after {
    background-color: @dark-slate-blue-opacity30;
  }
}

.show__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-bottom: 46px;
}

.show__link {
  position: relative;
  display: block;
  color: @dark-grey;
  background-color: @white;

  &:not(.show__link--active):not(.show__link--switch):hover,
  &:not(.show__link--active):not(.show__link--switch):focus {
    color: @dark-grey-opacity60;
  }

  &:not(.show__link--active):not(.show__link--switch):active {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @light-gold;
    color: @dark-grey;
  }

  &--switch {
    width: 133px;
    height: 50px;
  }

  &--next {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &--previous {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &--next::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 63px;
    border: 10px solid #1d2e5b;
    border-left: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  &--previous::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 59px;
    border: 10px solid #1d2e5b;
    border-right: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  &--next:hover::before,
  &--next:focus::before,
  &--previous:hover::before,
  &--previous:focus::before {
    opacity: 0.6;
  }

  &--next:active::before,
  &--previous:active::before {
    opacity: 0.3;
  }
}

.show__item {
  position: relative;

  &--page {
    display: none;
  }

  &--next {
    margin-right: 1px;
  }
}
