.site-list {
  list-style-type: none;
  margin: 0;
  text-align: center;
}


.site-list__link {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  color: @dark-blue-grey;
  overflow: hidden;
  text-decoration: none;

  & span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
  }

  & span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    color: @light-gold;
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
  }

  &:hover span {
    transform: translateY(-100%);
  }

  &--current {
    color: @light-gold-opacity30;
  }
}
