.week__cell {
  padding-top: 2px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: normal;
  color: @greyish-brown;

  &--output {
    color: @orange-red;
  }
}

.week__letter {
  display: none;
}
